/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
    width: 100%; /* IE */
    max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// LAYOUT STYLES ////////*/
body {
    background: rgba(75, 71, 71, 0.37);
}

.top-of-page {
    background: rgba(75, 71, 71, 0.897);
    height: 40px;
    /* display: flex; */
}

.navbar-light .navbar-brand {
    font-family: 'Bungee', cursive;
    color: rgb(181, 237, 247);
    font-size:1.5em;
}

.navbar-light .navbar-nav .nav-link {
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
}

.branding {
    font-style: italic;
    font-size: .8em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.col-sm-12.top-nav-bar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggler {
    border-radius: 50%;
    background: white;
}
.navbar-toggler-icon {
    display: inline-block;
    width: .6em;
    height: 1.25em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.box1 {
    background-color: rgba(75, 71, 71, 0.897);
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn-primary.login {
    font-family: 'BioRhyme', serif;
    font-weight: bold;
    color: white;
    background-color: rgba(75, 71, 71, 0.897);
    border-color: white;
}

.reminder {
    font-style: italic;
    font-size: .7em;
    color: rgba(201, 202, 202, 0.938);
    padding-left: 20px;
}

.signupbox {
    background-color: rgba(6, 30, 58, 0.685);
    padding-top: 20px;
    border: 1px solid white;
    /* border-radius: 10px; */
    color: white;
}

.col-form-label {
    float: left;
}

.form-control {
   display: flex;
   float: right;
   padding-left: 10px;
   width: 97%;
}

.flashmessage{
    color: #0069D9;
    position: flex;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.category-listing {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.pull-left {
    float: left!important;
}

.post {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 2px black;
    margin-bottom: 20px;
    display: inline-block;
}

.post .user-info {
    width: 15%;
    padding: 15px 0 15px 15px;
}

.post .post-info {
    width: 85%;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    line-height: 25px;
}

.post .post-info .post-title {
    color: rgba(6, 30, 58, 0.685);
    font-weight: bold;
}

.post .post-info section.replies-count {
    color: rgba(6, 30, 58, 0.685);
    font-weight: bold;
    line-height: 10px;
}

.post .post-info.post-footer {
    font-style: italic;
    font-size: .75em;
    border-top: solid 1px #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 15px;
}

.comment {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 2px black;
    margin-bottom: 20px;
    display: inline-block;
}

.comment .user-info {
    width: 15%;
    padding: 15px 0 15px 15px;
}

.comment .comment-info {
    width: 85%;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    line-height: 25px;
}

.comment .comment-info .comment-title {
    color: rgba(6, 30, 58, 0.685);
    font-weight: bold;
}

.comment .comment-info section.replies-count {
    color: rgba(6, 30, 58, 0.685);
    font-weight: bold;
    line-height: 10px;
}

.comment .comment-info section.comment-footer {
    font-style: italic;
    font-size: .75em;
    border-top: solid 1px #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 15px;
}

.cbut {
    border-radius: 5px;
}

.avatar {
    position: relative;
}

.avatar img {
    border-radius: 50%;
}

.postbottom .clearfix {
    clear: both;
}

.like-button {
    border-radius: 5px;
}

.move-right {
    margin-left: 25px;
}

.card.mx-auto.cats-list {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 2px black;
    margin-bottom: 10px;
}

.profile-posts {
    padding-top: 20px;
}

div.container-fluid.category-title {
    font-family: 'Bungee', cursive;
    background-color: rgba(75, 71, 71, 0.897);
    color: rgb(181, 237, 247);
    font-weight: bold;
    box-shadow: 0 1px 2px black;
    padding-bottom: 15px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
}

div.container-fluid.category-title .postbutton {
    float: right;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    margin-right: 15px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgba(6, 30, 58, 0.685);
}

div.container.top-post {
    margin-top: 20px;
}

div.welcomeblurb {
    padding-bottom: 10px;
}

h1.welcometitle {
    color: #546578;
}

ol.breadcrumb {
    background-color: #565252;
}

ol.breadcrumb a {
    color: #B5EDF7;
}

#button-rows{
    position: absolute;
    bottom: 10px;
    width: 100%;
  }

div.row.new-post {
    height: auto;
}

div.row.new-comment {
    height: auto;
}

@media (min-width: 992px)
.col-md-8 {
    width: 66.66666667%;
}

footer.branding {
   position:absolute;
   padding-left: 10px;
   left:0px;
   bottom:0px;
   width:100%;
   font-size: .5em;
   color: #BCBBBB;
   background:#565252;
}

#comment-reply-button {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

#comment-delete-button {
    position: relative;
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    background-color: red;
    border-color: red;
}

#comment-label {
    color: #546578;
    font-weight: bold;
    margin-left: 20px;
}