/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
    width: 100%; /* IE */
    max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// LAYOUT STYLES ////////*/
body {
    background: rgba(75, 71, 71, 0.37);
}

* {
    box-sizing: border-box;
}

.top-of-page {
    background: rgba(75, 71, 71, 0.897);
}
.navbar-light .navbar-brand {
    font-family: 'Bungee', cursive;
    color: rgb(181, 237, 247);
    font-size:1.5em;
}

.navbar-light .navbar-nav .nav-link {
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: white;
}

.branding {
    font-style: italic;
    font-size: .8em;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.col-sm-12.top-nav-bar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggler {
    border-radius: 50%;
    background: white;
}
.navbar-toggler-icon {
    display: inline-block;
    width: .6em;
    height: 1.25em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.box1 {
    background-color: rgba(75, 71, 71, 0.897)!important;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn-primary.login {
    font-family: 'BioRhyme', serif;
    font-weight: bold;
    color: white;
    background-color: rgba(75, 71, 71, 0.897);
    border-color: white;
}

.reminder {
    font-style: italic;
    font-size: .7em;
    color: rgba(201, 202, 202, 0.938);
    padding-left: 20px;
}

.signupbox {
    background-color: rgba(6, 30, 58, 0.685);
    padding-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.col-form-label {
    float: left;
}

.form-control {
   display: flex;
   float: right;
   padding-left: 10px;
   width: 97%;
}

.flashmessage{
    color: white;
    position: flex;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.category-listing {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

.post {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 2px black;
    margin-bottom: 20px;
}

.post .user-info {
    /* width: 10%; */
    padding: 15px 0 15px 15px;
    
}
.post .post-info {
    width: 80%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #989c9e;
    font-size: 14px;
    line-height: 25px;
    float: right;
}

.post .post-info .post-title {
    color: rgba(6, 30, 58, 0.685);
    font-weight: bold;
}

.post .post-info section.replies-count {
    color: rgba(6, 30, 58, 0.685);
    font-weight: bold;
    line-height: 10px;
}

.post .post-info section.post-footer {
    font-style: italic;
    font-size: .75em;
    border-top: solid 1px #f1f1f1;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 15px;
    white-space:normal
}

.avatar {
    text-align: center;
}

.avatar img {
    height: 30%; 
    width: 30%;
    border-radius: 50%;
}

.postbottom .clearfix {
    clear: both;
}

.like-button {
    border-radius: 5px;
}

div.container-fluid.category-title {
    font-family: 'Bungee', cursive;
    background-color: rgba(75, 71, 71, 0.897);
    color: rgb(181, 237, 247);
    font-weight: bold;
    box-shadow: 0 1px 2px black;
    margin-bottom: 15px;
}

div.container-fluid.category-title .postbutton {
    float: right;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: rgba(6, 30, 58, 0.685);
}

div.container.top-post {
    margin-top: 20px;
}

ol.breadcrumb {
    background-color: #565252;
}

ol.breadcrumb a {
    color: #B5EDF7;
}