<section class="flashmessage"><%= flash[:message] %></section>

<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-7 offset-md-2 col-lg-8 offset-lg-2 signupbox">
            <form action="/users/signup" method="post">
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    <div class="reminder">*Required</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="Email">
                    <div class="reminder">*Required</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
                    <div class="reminder">*Required</div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary login">Sign Me Up!</button>
                </div>
            </form>
        </div> <!-- close .col -->
    </div> <!-- close .row -->
</div> <!-- close .container -->