<section class="flashmessage"><%= flash[:message] %></section>

<div class="container edit-user-info">
    <div class="row">
    <h5>My Account Information:</h5>
        <form action="/users/profile/<%= @user.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="patch">

            <div class="form-group">
                <label for="title">Username: </label>
                <input type="text" class="form-control" name="user[username]" placeholder="<%= current_user.username %>">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="text" class="form-control" name="user[email]" placeholder="<%= current_user.email %>"
            </div>

            <div class="form-group">
                <label for="inputPassword3">Password</label>
                <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
            </div>
            
            <input type="submit" class="btn btn-primary" id="user-submit-button">
        </form>
    </div> <!-- close .row -->
</div> <!-- close .container -->