<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
      <header>
        <p><h1>Find Unique Eating Experiences In Your City</h1></p>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 mx-auto">
      <br>

      <div class="content">
        <p>Welcome to Foodie Finds! Our goal is to provide an open forum for foodies nationwide in order bring awareness to the hidden culinary gems in your communities. To get started just pick the state you're interested in and pick the discussion board for a city. If you'd like to join the discussion, then you'll first need to create an account.</p>
      </div>

      <!-- Default dropright button -->
      <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="-1,5">
          Choose Your State!
        </button>
        <div class="dropdown-menu dropdown-menu-right scrollable-menu">
          <!-- Dropdown menu links -->
          <li><a href="#">Alabama</a></li>
        </div>
      </div>
    </div> <!-- close .col -->
  </div> <!-- close .row -->
</div> <!-- close .container -->
